﻿/* -- Common -- */
.dxDisabled_Blue
{
	color: #808080;
}
/* -- ASPxCloudControl -- */
.dxccControl_Blue a:hover
{
    text-decoration: underline!important;
}
.dxccControl_Blue a
{
	text-decoration: none!important;
	color: #99B8DD;	
}
.dxccControl_Blue
{
	font-family: Tahoma, Verdana, Arial;
	text-decoration: none;
	color: #99B8DD;
	background-color: #FFFFFF;
	font-size: 10px;
}

/* -- ASPxDataView -- */
.dxdvControl_Blue 
{
	background-color: #FFFFFF;
	/*padding: 10px 15px 10px 15px;*/
}
.dxdvLoadingPanel_Blue
{
	font: 8pt Tahoma;
	color: #303030;
}
.dxdvLoadingPanel_Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxdvContent_Blue
{
}
.dxdvItem_Blue
{
	font-family: Tahoma; /*Verdana;*/
	font-size: 10px;
	color: #FFFFFF;
	background-image: url('dvItemBack.gif');
	background-repeat: repeat-x;
	background-color: #68AFFD;
	padding: 12px 12px 12px 14px;
	text-align: left;
	vertical-align: top;	
	height: 180px;
	/*if IE*/	
	height:expression("180px");		
}
.dxdvEmptyItem_Blue
{
	font-family: Tahoma;
	font-size: 9px;
	color: #FFFFFF;
	background-color: Transparent;
	padding: 12px 12px 12px 14px;
	text-align: left;
	vertical-align: top;	
	height: 180px;
	/*if IE*/		
	height:expression("180px");	
}

/* -- ASPxHeadline -- */
.dxhlControl_Blue 
{
	color: #676767;
	font-family: Tahoma;
	font-size: 8pt;
}
.dxhlTail_Blue, .dxhlTail_Blue span.dxhl, .dxhlTail_Blue a.dxhl
{
	color: #1473D2;
	text-decoration: underline;			
} 
.dxhlContent_Blue
{
	color: #676767;
	font-family: Tahoma;
	font-size: 8pt;
	line-height: 125%;
} 
.dxhlContent_Blue a.dxhl
{
	color: #1473D2;
	text-decoration: underline;				
}
.dxhlDate_Blue
{
	color: #A8A8A8;
	font-family: Tahoma;
	font-size: 0.9em;
	white-space: nowrap;
	margin-bottom: 4px;
}
.dxhlHeader_Blue
{
	color: #1473D2;
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 125%;
}
.dxhlDateHeader_Blue
{
	color: #A8A8A8;
	font-family: Tahoma;
	font-size: 0.9em;
	font-weight: normal;
}
.dxhlLeftPanel_Blue
{
	color: #676767;
	font-family: Tahoma;
	font-size: 8pt;
	vertical-align: top;
}
.dxhlDateLeftPanel_Blue
{
	color: #A8A8A8;
	font-family: Verdana;
	font-size: 0.9em;
	white-space: nowrap;
	line-height: 125%; 
	vertical-align: top;
}
.dxhlRightPanel_Blue
{
	color: #676767;
	font-family: Tahoma;
	font-size: 8pt;
	vertical-align: top;
}
.dxhlDateRightPanel_Blue
{
	color: #A8A8A8;
	font-family: Verdana;
	font-size: 0.9em;
	white-space: nowrap;
	line-height: 125%; 
	vertical-align: top;
}
/* -- ASPxMenu -- */
.dxmControl_Blue 
{
	font: 8pt Tahoma;
	color: #333333;
}
.dxmControl_Blue a, .dxmMenu_Blue a, .dxmVerticalMenu_Blue a, .dxmSubMenu_Blue a
{
	font: 8pt Tahoma;
	color: #333333;
	text-decoration: none;
}
.dxmMenu_Blue, .dxmVerticalMenu_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	border-width: 0px;
}
.dxmMenu_Blue
{
	border-color:#ffffff;
	background-color: #F0F0F0;	
	padding: 0px 0px 0px 0px;	
}
.dxmVerticalMenu_Blue
{
	background-color: #ffffff;
	
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 18px;
	padding-left: 0px;			
}
.dxmMenuGutter_Blue
{
}
.dxmMenuSeparator_Blue
{	
	background-image: url('mSeparatorBack.gif');
	background-repeat:repeat-y;
}
.dxmSubMenuSeparator_Blue
{	
	background-image: url('mVSeparatorBack.gif');
	background-repeat: no-repeat;
	background-position: 19px 7px;
	padding: 7px 14px 7px 19px;	
}
.dxmMenuItem_Blue, .dxmMenuItemWithImage_Blue, .dxmMenuItemWithPopOutImage_Blue, .dxmMenuItemWithImageWithPopOutImage_Blue,
.dxmMenuLargeItem_Blue, .dxmMenuLargeItemWithImage_Blue, .dxmMenuLargeItemWithPopOutImage_Blue, .dxmMenuLargeItemWithImageWithPopOutImage_Blue
.dxmVerticalMenuItem_Blue, .dxmVerticalMenuItemWithImage_Blue, .dxmVerticalMenuItemWithPopOutImage_Blue, .dxmVerticalMenuItemWithImageWithPopOutImage_Blue, 
.dxmVerticalMenuLargeItem_Blue, .dxmVerticalMenuLargeItemWithImage_Blue, .dxmVerticalMenuLargeItemWithPopOutImage_Blue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Blue
{
	border-width: 0px;
	font: 8pt Tahoma;
	color: #333333;
	white-space: nowrap;		
	
}
.dxmMenuItem_Blue, .dxmMenuItemWithImage_Blue, .dxmMenuItemWithPopOutImage_Blue, .dxmMenuItemWithImageWithPopOutImage_Blue,
.dxmMenuLargeItem_Blue, .dxmMenuLargeItemWithImage_Blue, .dxmMenuLargeItemWithPopOutImage_Blue, .dxmMenuLargeItemWithImageWithPopOutImage_Blue
{
	background-color:  #fcfdfe;	
	background-image: url('grad_menu.jpg');
	background-repeat: repeat-x;	
	
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;			
}
.dxmVerticalMenuItem_Blue, .dxmVerticalMenuItemWithImage_Blue, .dxmVerticalMenuItemWithPopOutImage_Blue, .dxmVerticalMenuItemWithImageWithPopOutImage_Blue, 
.dxmVerticalMenuLargeItem_Blue, .dxmVerticalMenuLargeItemWithImage_Blue, .dxmVerticalMenuLargeItemWithPopOutImage_Blue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	background-color:  #ffffff;				
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 4px;
	padding-left: 21px;			
}
.dxmMenuItemSelected_Blue, .dxmMenuItemSelectedWithImage_Blue, .dxmMenuItemSelectedWithPopOutImage_Blue, .dxmMenuItemSelectedWithImageWithPopOutImage_Blue,
.dxmMenuLargeItemSelected_Blue, .dxmMenuLargeItemSelectedWithImage_Blue, .dxmMenuLargeItemSelectedWithPopOutImage_Blue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Blue
{
	background-color: #4FA2FD;
	color: #ffffff;
	border-width: 0px;	
	background-image:url('mItemSBack.gif');
	background-repeat:repeat-x;	

	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;		
}
.dxmVerticalMenuItemSelected_Blue, .dxmVerticalMenuItemSelectedWithImage_Blue, .dxmVerticalMenuItemSelectedWithPopOutImage_Blue, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Blue,
.dxmVerticalMenuLargeItemSelected_Blue, .dxmVerticalMenuLargeItemWithImageSelected_Blue, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Blue, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Blue
{
	background-color: #51A3FD;
	color: #ffffff;
	border-width: 0px;		
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 4px;
	padding-left: 21px;		
}
.dxmMenuItemHover_Blue, .dxmMenuItemHoverWithImage_Blue, .dxmMenuItemHoverWithPopOutImage_Blue, .dxmMenuItemHoverWithImageWithPopOutImage_Blue, 
.dxmMenuLargeItemHover_Blue, .dxmMenuLargeItemHoverWithImage_Blue, .dxmMenuLargeItemHoverWithPopOutImage_Blue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Blue
{
	background-color: #D5E8FE;
	font: 8pt Tahoma;
	color: #333333;
	border-width: 0px;
	background-image: url('grad_menu.jpg');
	background-repeat: repeat-x;	
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 20px;		
}
.dxmVerticalMenuItemHover_Blue, .dxmVerticalMenuItemHoverWithImage_Blue, .dxmVerticalMenuItemHoverWithPopOutImage_Blue, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Blue, 
.dxmVerticalMenuLargeItemHover_Blue, .dxmVerticalMenuLargeItemHoverWithImage_Blue, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Blue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Blue
{
	background-color: #E0EEFE;
	font: 8pt Tahoma;
	color: #333333;
	border-width: 0px;	

	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 4px;
	padding-left: 21px;		
}
.dxmSubMenu_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	background-color: #F0F7FF;
	border: solid 1px #ffffff;	
	padding-top: 11px;
	padding-right: 0px;
	padding-bottom: 11px;
	padding-left: 0px;		
}
.dxmSubMenuGutter_Blue
{
	background-color: #F0F7FF;
}
.dxmSubMenuItem_Blue, .dxmSubMenuItemWithImage_Blue, .dxmSubMenuItemWithPopOutImage_Blue, .dxmSubMenuItemWithImageWithPopOutImage_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	white-space: nowrap;
	padding-top: 3px;
	padding-right: 23px;
	padding-bottom: 4px;
	padding-left: 19px;	
}
.dxmSubMenuItem_Blue, .dxmSubMenuItemWithImage_Blue
{
}
.dxmSubMenuItemWithPopOutImage_Blue, .dxmSubMenuItemWithImageWithPopOutImage_Blue
{
}
.dxmSubMenuItemSelected_Blue, .dxmSubMenuItemSelectedWithImage_Blue, .dxmSubMenuItemSelectedWithPopOutImage_Blue, .dxmSubMenuItemSelectedWithImageWithPopOutImage_Blue
{
	background-color: #51A3FD;
	color: #000000;
	border: 0px;
	padding-top: 3px;
	padding-right: 23px;
	padding-bottom: 4px;
	padding-left: 19px;		
}
.dxmSubMenuItemSelected_Blue, .dxmSubMenuItemSelectedWithImage_Blue
{
}
.dxmSubMenuItemSelectedWithPopOutImage_Blue, .dxmSubMenuItemSelectedWithImageWithPopOutImage_Blue
{
}
.dxmSubMenuItemHover_Blue, .dxmSubMenuItemHoverWithImage_Blue, .dxmSubMenuItemHoverWithPopOutImage_Blue, .dxmSubMenuItemHoverWithImageWithPopOutImage_Blue
{
	background-color: #D8EAFE;
	color: #333333;
	border: 0px;
	padding-top: 3px;
	padding-right: 23px;
	padding-bottom: 4px;
	padding-left: 19px;		
}
.dxmSubMenuItemHover_Blue, .dxmSubMenuItemHoverWithImage_Blue
{
}
.dxmSubMenuItemHoverWithPopOutImage_Blue, .dxmSubMenuItemHoverWithImageWithPopOutImage_Blue
{
}
.dxmSubMenuBorderCorrector_Blue
{
    position: absolute;
    border: 0px;
    padding: 0px;
}
/* -- ASPxNavBar -- */
.dxnbControl_Blue 
{	
	font: 8pt Tahoma;
	color: #4573D2;
	background-color: white;
	background-image: url('nbBack.gif');
	background-repeat: repeat-x;	
	padding: 11px 11px 11px 11px;
}
.dxnbControl_Blue a
{
	color: #1E3695;
}
.dxnbLoadingPanel_Blue
{
	font: 8pt Tahoma;
	color: #303030;
}
.dxnbLoadingPanel_Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxnbGroupHeader_Blue
{
	font: bold 8pt Tahoma;
	color: #ffffff;
	background-color: #8FC4FE;
	background-image: url('nbHeaderBack.gif');
	background-repeat: repeat-x;
	border: solid 1px #69AFFD;
	border-bottom-style: none;	
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 12px;
}
.dxnbGroupHeader_Blue table.dxnb
{
	font: bold 8pt Tahoma;
	color: #ffffff;
}
.dxnbGroupHeader_Blue td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsed_Blue
{
	font: bold 8pt Tahoma;
	color: #ffffff;
	background-color: #8FC4FE;
	background-image: url('nbHeaderBackCollapsed.gif');
	background-repeat: repeat-x;	
	border: solid 1px #69AFFD;	
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 12px;
}
.dxnbGroupHeaderCollapsed_Blue table.dxnb
{
	font: bold 8pt Tahoma;
	color: #ffffff;
}
.dxnbGroupHeaderCollapsed_Blue td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupContent_Blue
{
	font: 8pt Tahoma;
	color: #1473D2;
	background-color: #ffffff;
	border: solid 1px #69AFFD;	
	padding-top: 13px;
	padding-right: 1px;
	padding-bottom: 20px;
	padding-left: 1px;
}
.dxnbItem_Blue, .dxnbLargeItem_Blue, .dxnbBulletItem_Blue
{
	font: 8pt Tahoma;
	color: #4573D2;
	text-align: left;
}
.dxnbItem_Blue a, .dxnbLargeItem_Blue a, .dxnbBulletItem_Blue a
{
	font: 8pt Tahoma;
	color: #4573D2;	
}
.dxnbItem_Blue
{
	height: 20px;	
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 3px;
	padding-left: 11px;
}
.dxnbLargeItem_Blue
{
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 3px;
	padding-left: 11px;
}
.dxnbItemSelected_Blue, .dxnbLargeItemSelected_Blue, .dxnbBulletItemSelected_Blue
{
	background-color: #51A3FD;
	color: #ffffff;
	border-width: 0px;
}
.dxnbItemSelected_Blue
{
	height: 20px;		
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 3px;
	padding-left: 11px;
}
.dxnbLargeItemSelected_Blue
{
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 3px;
	padding-left: 11px;
}
.dxnbItemHover_Blue, .dxnbLargeItemHover_Blue, .dxnbBulletItemHover_Blue
{
	background-color: #E0EEFE;
	color: #1473D2;
	border-width: 0px;
}
.dxnbItemHover_Blue
{
	height: 20px;		
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 3px;
	padding-left: 11px;
}
.dxnbLargeItemHover_Blue
{
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 3px;
	padding-left: 11px;
}
.dxnbGroupHeader_Blue, .dxnbGroupHeaderCollapsed_Blue
{
    text-align: left;
}
.dxnbItem_Blue, .dxnbItemHover_Blue, .dxnbItemSelected_Blue,
.dxnbBulletItem_Blue, .dxnbBulletItemHover_Blue, .dxnbBulletItemSelected_Blue
{
    text-align: left;
}
.dxnbLargeItem_Blue, .dxnbLargeItemHover_Blue, .dxnbLargeItemSelected_Blue
{
    text-align: center;
}
.dxnbGroupHeaderHover_Blue
{
}
.dxnbGroupHeaderCollapsedHover_Blue
{
}
/* -- ASPxNewsControl -- */
.dxncControl_Blue 
{
	font: 8pt Tahoma;
	color: #676767;	
	padding: 18px 18px 18px 18px;
}
.dxncLoadingPanel_Blue
{
	font: 8pt Tahoma;
	color: #303030;
}
.dxncLoadingPanel_Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxncContent_Blue
{	
}
.dxncPagerPanel_Blue
{
	padding: 7px 3px 0px 0px;	
}
.dxncItem_Blue
{
	font: 8pt Tahoma;
	color: #676767;	
	vertical-align: top;
	border-bottom: solid 0px #A8A8A8;
	background-image: url('ncBorderBottom.gif');
	background-repeat: no-repeat;
	background-position: inherit bottom;	
	padding: 12px 8px 10px 0px;	
}
.dxncEmptyItem_Blue
{
	font: 8pt Tahoma;
	color: #676767;	
	vertical-align: top;
	border-bottom: solid 0px #A8A8A8;
	padding: 12px 8px 10px 0px;	
	background-image: url('ncBorderBottom.gif');
	background-repeat: no-repeat;
	background-position: inherit bottom;	
}
.dxncBackToTop_Blue, .dxncBackToTop_Blue a
{
	color: #1473D2;
	font-family: Tahoma;
	font-size: 10px;	
}
/* Headline */
.dxncItemTail_Blue, .dxncItemTail_Blue span.dxhl, .dxncItemTail_Blue a.dxhl
{
	color: #1473D2;
	text-decoration: underline;
}
span.dxncItemContent_Blue, a.dxncItemContent_Blue
{
}
.dxncItemContent_Blue
{
	font: 8pt Tahoma;
	color: #676767;	  
	background-color: Transparent; 
	line-height:125%;
}
.dxncItemDate_Blue
{	
	color: #A8A8A8;
	white-space: nowrap;    
	font-size: 7pt;
}
.dxncItemHeader_Blue
{
	font-family: Tahoma;
	font-size: 10pt;
	color: #1473D2;
	font-weight: bold;
	line-height: 125%;
}
.dxncItemLeftPanel_Blue
{
	font: 8pt Tahoma;
	color: #676767;	
	vertical-align: top;   
}
.dxncItemRightPanel_Blue
{
	font: 8pt Tahoma;
	color: #676767;	
	vertical-align: top;
}

/* -- ASPxPager -- */
.dxpControl_Blue
{
	font: 8pt Tahoma;
	color: #1473D2;
	padding: 5px 2px 5px 2px;
}
.dxpButton_Blue
{
	font: 8pt Tahoma;
	color: #1473D2;
	text-decoration: underline;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
.dxpDisabledButton_Blue
{
	font: 8pt Tahoma;
	color: #B2B2B3;
	text-decoration: none;
}
.dxpPageNumber_Blue
{
	font: 8pt Tahoma;
	color: #1473D2;
	text-decoration: underline;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}
.dxpCurrentPageNumber_Blue
{
	font: 8pt Tahoma;
	color: #B2B2B3;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 3px 0px 3px;
}
.dxpSummary_Blue
{
	font-size: 8pt;
	text-align: center;
	vertical-align: middle;
	color:#818181;
	font-size:8pt;
	padding:0px 4px;
}
.dxpSeparator_Blue
{
	background-color: #1473D2;
}

/* -- ASPxPopupControl -- */
.dxpcControl_Blue
{
	font: 8pt Tahoma;
	color: black;
	background-color: #ffffff;
	border: solid 1px #5094E4;
}
.dxpcControl_Blue a
{
	color: #1E3695;
}
.dxpcCloseButton_Blue
{
	font: 8pt Tahoma;
	color: black;
	padding: 1px 6px 1px 4px;
}
.dxpcCloseButtonHover_Blue
{
	font: 8pt Tahoma;
	color: black;	
}
.dxpcContent_Blue
{
	font: 8pt Tahoma;
	color: #5A5A5A;
	background-color: #ffffff;
	border-width:0px;
	white-space: normal;
	padding: 12px 14px 27px 14px;	
}
.dxpcFooter_Blue
{
	font: 8pt Tahoma;
	color: #5D90CD;
	background-color: #DCECFE;
	border-top: solid 1px #E0E0E0;
	border-width: 0px;
	border-top: solid 1px #BFDDFE;	
}
.dxpcFooter_Blue td.dxpc
{
	font: 8pt Tahoma;
	color: #5D90CD;
	white-space: nowrap;
	padding: 6px 14px 8px 14px;
}
.dxpcHeader_Blue
{
	font: 8pt Tahoma;
	color: #ffffff;
	background-color: #93C6FE;
	background-repeat: repeat-x;	    
	background-image: url('pcHeaderBack.gif');
	border-width: 0px;
	border-bottom: solid 1px #82BCFE;
}
.dxpcHeader_Blue td.dxpc
{	
	font: 8pt Tahoma;
	color: #ffffff;
	white-space: nowrap;	
	padding: 4px 0px 5px 2px;
}
/* -- ASPxRoundPanel -- */
.dxrpControl_Blue 
{	
}
.dxrpControl_Blue a:hover
{
    text-decoration: underline!important;
}
.dxrpControl_Blue a
{
	text-decoration: none!important;
}
.dxrpControl_Blue td.dxrp
{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial;
	color: #838383;	
}
/* Header */
.dxrpHeader_Blue a
{
    font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;    
	color: #ffffff;	
}
.dxrpHeader_Blue td.dxrp
{
    font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;    
	color: #ffffff;
}

/* -- ASPxSiteMapControl -- */
.dxsmControl_Blue a:hover
{
    text-decoration:underline!important;
    color:#A0B735!important;
}
.dxsmControl_Blue a:visited
{
    color:#990099;
}
.dxsmControl_Blue 
{	
	color: #1473D2;
	text-decoration: none;	
	background-color: white;
	font-family: Verbana, Tahoma, Arial;
	font-size: 11px;
	border-width: 0px;		
	background-image:url('smBack.gif');
	background-repeat:repeat-x;
}
    
/* - Category Level - */
.dxsmCategoryLevel_Blue, .dxsmCategoryLevel_Blue a
{
    color: #1473D2;
    font-weight: bold;
    text-decoration: none;	
    font-size: 12px;
	font-family: Verbana, Tahoma, Arial;  
}
.dxsmCategoryLevel_Blue
{
    white-space: nowrap;
    background-image: url('smFirstLevelBack.gif');
    background-position: left bottom;           
    background-repeat: no-repeat;	    
    padding: 0px 0px 5px 0px;
}
 /*flow layout*/
.dxsmLevelCategoryFlow_Blue, .dxsmLevelCategoryFlow_Blue a
{
    color: #1473D2;    
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;	    
	font-family: Verbana, Tahoma, Arial;
    background-image: url('smFirstLevelBack.gif');
    background-position: left bottom;           
    background-repeat: no-repeat;	
}
/* - Level 0 - */
.dxsmLevel0_Blue, .dxsmLevel0_Blue a, .dxsmLevel0Categorized_Blue a, .dxsmLevel0Categorized_Blue
{
    color: #1473D2;
    font-weight: bold;
    font-size: 12px;
	font-family: Verbana, Tahoma, Arial;
    background-repeat: no-repeat;            
}
dxsmLevel0_Blue, .dxsmLevel0_Blue a 
{
	text-decoration: none;            		
}
.dxsmLevel0Categorized_Blue, .dxsmLevel0Categorized_Blue a
{
	text-decoration: underline;            	
}
.dxsmLevel0Categorized_Blue
{
    white-space: nowrap;	
    padding: 0px 0px 2px 0px;
}
.dxsmLevel0_Blue
{
    white-space: nowrap;	
    border-bottom-width: 0px;
    background-image: url('smFirstLevelBack.gif');
    background-position: left bottom;        
    padding: 0px 0px 5px 0px;
}
 /*flow layout*/
.dxsmLevel0Flow_Blue, .dxsmLevel0Flow_Blue a, .dxsmLevel0CategorizedFlow_Blue a, .dxsmLevel0CategorizedFlow_Blue
{
    color: #1473D2;
	font-family: Verbana, Tahoma, Arial;
    font-weight: bold;
    font-size: 12px;
	text-decoration: none;
}
.dxsmLevel0Flow_Blue
{
    padding: 0px 0px 0px 0px;    
}
.dxsmLevel0Flow_Blue
{
	text-decoration: underline;
}

/* - Level 1 - */
.dxsmLevel1_Blue, .dxsmLevel1_Blue a, .dxsmLevel1Categorized_Blue a, .dxsmLevel1Categorized_Blue
{    
    font-size: 8pt;
	font-family: Verbana, Tahoma, Arial;
    color: #1473D2;  
    font-size: 8pt;
	text-decoration: underline;
}
.dxsmLevel1_Blue, .dxsmLevel1Categorized_Blue
{
    white-space: nowrap;  
    padding: 0px 0px 0px 0px;
}

/*flow layout*/
.dxsmLevel1Flow_Blue, .dxsmLevel1Flow_Blue a, .dxsmLevel1CategorizedFlow_Blue, .dxsmLevel1CategorizedFlow_Blue a
{    
    color: #1473D2;
	font-family: Verbana, Tahoma, Arial;
    font-size: 8pt;
	text-decoration: underline;
}
.dxsmLevel1Flow_Blue
{
	text-decoration: underline;
    padding: 0px 0px 0px 0px;
}

/* - Level 2 - */
.dxsmLevel2_Blue, .dxsmLevel2_Blue a, .dxsmLevel2Categorized_Blue a, .dxsmLevel2Categorized_Blue
{    
    font-size: 10px;
	font-family: Verbana, Tahoma, Arial;
    color: #5A9DDF;
	text-decoration: underline;
}
.dxsmLevel2_Blue, .dxsmLevel2Categorized_Blue
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel2Flow_Blue, .dxsmLevel2Flow_Blue a
{
    color: #5A9DDF;
    font-size: 10px;    
	font-family: Verbana, Tahoma, Arial;
	text-decoration:underline;    
}
.dxsmLevel2Flow_Blue
{
    padding: 0px 0px 0px 0px;
}
/* - Level 3 - */
.dxsmLevel3_Blue, .dxsmLevel3_Blue a
{    
    font-size: 9px;
	font-family: Verbana, Tahoma, Arial;
    color: #1473D2;
	text-decoration: underline;
}
.dxsmLevel3_Blue
{
    white-space: nowrap;        
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel3Flow_Blue, .dxsmLevel3Flow_Blue a
{    
    color: #1473D2;
    font-size: 9px;
	font-family: Verbana, Tahoma, Arial;
	text-decoration: underline;    
}
/* - Level 4 - */
.dxsmLevel4_Blue, .dxsmLevel4_Blue a
{    
    font-size: 9px;
	font-family: Verbana, Tahoma, Arial;
    color: #1473D2;
	text-decoration: underline;
}
.dxsmLevel4_Blue
{
    white-space: nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel4Flow_Blue, .dxsmLevel4Flow_Blue a
{
    color: #1473D2;
	font-family: Verbana, Tahoma, Arial;
    font-size: 9px;
	text-decoration: underline;        
}
.dxsmLevel4Flow_Blue
{
    padding: 0px 0px 0px 0px;        
}
/* - Other Levels - */
.dxsmLevelOther_Blue
{    
    font-size: 9px;
	font-family: Verbana, Tahoma, Arial;
    color: #1473D2;
	text-decoration: underline;
}
.dxsmLevelOther_Blue
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;            
}
/*flow layout*/
.dxsmLevelOtherFlow_Blue, .dxsmLevelOtherFlow_Blue a
{
    color: #1473D2;
	font-family: Verbana, Tahoma, Arial;
    font-size: 9pt;
	text-decoration: underline;            
}
/* -- ASPxTabControl, ASPxPageControl -- */
.dxtcControl_Blue 
{
	font: 8pt Tahoma;
	color: #333333;
	background-color: Transparent;
}
.dxtcControl_Blue a
{
	text-decoration: none;
	color: #333333;
}
.dxtcLoadingPanel_Blue
{
	font: 8pt Tahoma;
	color: #303030;
}
.dxtcLoadingPanel_Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxtcActiveTab_Blue, .dxtcActiveTabWithTabPositionBottom_Blue,
.dxtcActiveTabWithTabPositionLeft_Blue, .dxtcActiveTabWithTabPositionRight_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	border: solid 0px #A8A8A8;
	padding: 6px 22px 5px 22px;
	background-color: Transparent;
	background-image:url('tcTabABack.gif');
	background-repeat:repeat-x;
}
/* Active Tab */
.dxtcActiveTab_Blue td.dxtc, .dxtcActiveTabWithTabPositionBottom_Blue td.dxtc,
.dxtcActiveTabWithTabPositionLeft_Blue td.dxtc, .dxtcActiveTabWithTabPositionRight_Blue td.dxtc
{
	font: 8pt Tahoma;
	color: #333333;    
	white-space: nowrap;
}
.dxtcActiveTabHover_Blue
{
	background-color: Transparent;
	background-image: url('tcTabABack.gif');
	background-repeat: repeat-x;	
}
/* Tab */
.dxtcTab_Blue, .dxtcTabWithTabPositionLeft_Blue, 
.dxtcTabWithTabPositionBottom_Blue, .dxtcTabWithTabPositionRight_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	background-color: Transparent;
	padding: 6px 22px 5px 22px;
	background-image: url('tcTabBack.gif');
	background-repeat: repeat-x;			
}
.dxtcTab_Blue td.dxtc, .dxtcTabWithTabPositionBottom_Blue td.dxtc, 
.dxtcTabWithTabPositionLeft_Blue td.dxtc, .dxtcTabWithTabPositionRight_Blue td.dxtc
{
	font: 8pt Tahoma;
	color: #333333;    
	white-space: nowrap;	
}
.dxtcTabWithTabPositionBottom_Blue
{
}
.dxtcTabWithTabPositionLeft_Blue
{
}
.dxtcTabWithTabPositionRight_Blue
{
}
/* Hover */
.dxtcTabHover_Blue, .dxtcTabHoverWithTabPositionBottom_Blue,
.dxtcTabHoverWithTabPositionLeft_Blue, .dxtcTabHoverWithTabPositionRight_Blue
{
	background-color: Transparent;
	background-image: url('tcHTabBack.gif');
	background-repeat: repeat-x;				
}
.dxtcPageContent_Blue, .dxtcPageContentWithTabPostionBottom_Blue, 
.dxtcPageContentWithTabPostionLeft_Blue, .dxtcPageContentWithTabPostionRight_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	background-color: white;
	vertical-align: top;
}
.dxtcContent_Blue
{
	font: 8pt Tahoma;
	color: #333333;
	border: solid 1px #A8A8A8;
	background-color: white;
	vertical-align: top;
}
/* -- ASPxTitleIndex -- */
.dxtiControl_Blue a:hover
{
    text-decoration: none!important;	
	font-weight: normal;    
}
.dxtiControl_Blue a:visited
{
    color: #1473D2!important;
	text-decoration: none;
	font-weight: normal;    
}
.dxtiControl_Blue 
{
	font: 11px Verdana;
	color: #1473D2;
	background-color: white;
	font-family: Verdana, Tahoma, Arial;
	border-width: 0px;
	text-decoration: none;
	font-weight: normal;
}
.dxtiControl_Blue div
{
	font: 11px Verdana;
	color: #1473D2;
}
.dxtiLoadingPanel_Blue
{
	font: 8pt Tahoma;
	color: #303030;
}
.dxtiLoadingPanel_Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxtiItem_Blue, .dxtiItem_Blue a
{
	font: 8pt Verdana; 
	color: #1473D2;
	text-decoration: none;
	font-weight: normal;
}
.dxtiItem_Blue
{
	white-space: nowrap;
}
.dxtiItem_Blue ul
{
	line-height: 100%;	
}
.dxtiGroupHeader_Blue, .dxtiGroupHeaderCategorized_Blue
{
	font: 16pt Verdana;
	text-decoration: none;
}
.dxtiGroupHeader_Blue, .dxtiGroupHeaderCategorized_Blue
{
	white-space: nowrap;
	padding: 0px 0px 3px 0px;
}
.dxtiGroupHeaderCategorized_Blue
{
    border-bottom: Solid 1px #C0C0C0;
    padding-bottom: 2px;
}
/* - GroupHeaderText - */
.dxtiGroupHeaderText_Blue
{
	font-size: 18px;
	color: #1473D9;
	text-decoration: none;
	font-weight: normal;  	
    background-color: Transparent;
}
.dxtiGroupHeaderText_Blue
{
    padding: 2px 7px 0px 0px;
}
.dxtiGroupHeaderTextCategorized_Blue
{
    color: #1473D2;
    font-size: 18pt;
}
.dxtiGroupHeaderTextCategorized_Blue
{
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
}
/* - FilterBox - */
.dxtiFilterBoxInfoText_Blue
{
    font: 7pt Verdana;
    color: #828282;
	text-decoration: none;
	font-weight: normal;    
    padding-top: 0px;
    padding-bottom: 4px;    
}
.dxtiFilterBoxEdit_Blue
{
    font-size: 8pt;
    color: #000000;
    background-color: Transparent;
    width: 158px;
    border: Solid 1px #63AAF0;    
    padding-left: 3px;
}
.dxtiFilterBox_Blue, .dxtiFilterBox_Blue table
{
    color: #828282;
    font-size: 8pt;
	text-decoration: none;
	font-weight: normal;    
}
.dxtiFilterBox_Blue
{
    background-color: #E8E8E8;
    padding: 15px;   
    padding-top: 0px; 
}
/* - IndexPanel - */
.dxtiIndexPanel_Blue
{
    padding-bottom: 10px;       
    color: #A8D1FE;
    text-decoration: none;    
    font-weight: normal;    
    padding-top: 3px;
}
.dxtiIndexPanelItem_Blue, .dxtiIndexPanelItem_Blue a, .dxtiCurrentIndexPanelItem_Blue
{    
    font-family: Verdana;
    text-decoration: none;    
    font-weight: normal;    
}
.dxtiIndexPanelItem_Blue, .dxtiCurrentIndexPanelItem_Blue
{
    padding: 3px 6px 3px 6px;
}
.dxtiCurrentIndexPanelItem_Blue
{
    color: #ffffff;
    background-color: #51A3FD;
    border-width: 0px;
}
/* - BackToTop - */
.dxtiBackToTop_Blue, .dxtiBackToTop_Blue a
{
    font-size: 7pt;
    color: #1473D2;    
	text-decoration: none;
	font-weight: normal;    
}
.dxtiBackToTop_Blue
{
    padding: 10px 0px 12px 0px;
}