﻿/* *OBRAS* ampliando ancho del contenedor principal para colocar el menu lateral */

.containerFicha {
    max-width: 1535px;
}

#cssmenu {
    border: 1px solid #DDDDDD;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 13em;
    display: inline-block;
    margin-top: 3em;
    font-family: Calibri,arial,helvetica,clean,sans-serif !important;
}

    #cssmenu h4 {
        margin: 0.5em 1em 1em;
        font-weight: bold;
    }

    #cssmenu ul {
        margin: 0;
        padding: 0;
    }

    #cssmenu li {
        margin: 0;
        padding: 0;
        list-style: none;
        background: #266591;
    }

    #cssmenu a {
        /*background: #299386;*/
        color: white;
        display: block;
        margin: 0;
        padding: 8px 12px;
        text-decoration: none;
        /*font-weight: normal;*/
    }

        #cssmenu a:hover, #cssmenu li.active {
            background: #468CF5;
            color: #fff;
            border-bottom: 4px solid #A9D8F9;
            font-weight: bold;
        }

.metasTitulo {
    font-size: 1.5em;
    font-weight: bold;
}

.metasTable {
    margin-bottom: 2em;
}

.rowMetas {
    background-color: white;
}

.GridHeader2 th {
    text-align: center !important;
}

/* FIN MENU OBRA*/
.metas-legend legend {
    border-bottom: 1px solid #000;
}
