/*PRECARGA*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #48bdf0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
/*END PRECARGA*/
/*BASIC*/


.header-r {
    /*background-color:#F5F5F5;*/
    background-color: rgba(88,89,91,0.8);
    color: #ffffff;
    font-size: 9.5px;
}

    .header-r img {
        border: solid 3px #fff !important;
    }

    .header-r td:first-child {
        text-align: left;
        padding: 3px 20px 2px 20px;
        font-weight: 600;
    }

        .header-r td:first-child span {
            font-size: 2.5em;
        }

    .header-r td:nth-child(2) {
        text-align: right;
        padding: 14px 20px 13px 20px;
    }

.menu-r {
    background-color: #19a1e0;
}

.dxmLite_PlasticBlue .dxm-horizontal {
    background-color: #58595B !important;
    color: #666666;
    font-family: 'Roboto';
    font-size: 16px;
    border: 0;
    color: #ffffff;
    padding: 0 20px;
}

    .dxmLite_PlasticBlue .dxm-horizontal .dxm-checked, .dxmLite_PlasticBlue .dxm-horizontal .dxm-selected {
        background: #58595B;
    }

.dxm-content.dxm-hasText {
    padding: 10px 20px;
}

.dxm-content.dxm-hasText {
    padding: 10px !important;
}

.dxmLite_PlasticBlue.dxm-ltr {
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    border-bottom: solid 1px #ffffff;
}

#main {
    margin-top: 30px;
}

.dxm-hovered {
    background-color: transparent !important;
}

input, select, textarea {
    padding: 8px 10px !important;
    /*border-radius:2px !important;*/
    width: auto;
    font-size: 13px;
}
/*END BASIC*/
.dxmLite_PlasticBlue .dxm-horizontal {
    background: #19a1e0 !important;
    background-image: none;
}

    .dxmLite_PlasticBlue .dxm-horizontal .dxm-checked, .dxmLite_PlasticBlue .dxm-horizontal .dxm-selected {
        border: none;
        background-color: rgba(0,0,0,0.2);
    }

.dxm-separator b {
    display: none;
}

.dxmLite_PlasticBlue .dxm-horizontal .dxm-hovered {
    background-image: none;
}

table.Grid tbody tr:nth-child(even), table.dxgvTable tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

table.Grid tbody tr:nth-child(odd), table.dxgvTable tbody tr:nth-child(odd) {
    background-color: #FAFAFA;
}

table.Grid tbody tr th, table.Grid tr td, table.dxgvTable tbody tr th {
    border: 0;
    background-color: inherit !important;
    border-left: solid thin #ededed;
    padding: 5px;
}

table.Grid tbody tr:hover, table.dxgvTable tbody tr:hover {
    background-color: #FDF4BB !important;
}

table.Grid tbody tr:first-child, table.dxgvTable tbody tr:first-child {
    background-color: inherit !important;
}

table.Grid tbody tr th, table.dxgvTable tbody tr th {
    color: #fff !important;
    background-color: #3498db !important;
    border-top: solid thin #ededed;
    border-bottom: solid thin #CBCBCB;
}

    table.Grid tbody tr th:first-child, table.Grid tbody tr td:first-child, table.dxgvTable tbody tr th:first-child, table.dxgvTable tbody tr td:first-child {
        border-left: 0;
    }

.Grid, .dxgvTable {
    border: none !important;
    width: 100%;
    border-collapse: collapse;
    
}

    .Grid tbody tr:last-child:hover, .dxgvTable tbody tr:last-child:hover {
        background-color: transparent !important;
    }

    .Grid tbody tr:last-child td table td, .dxgvTable tbody tr:last-child td table td {
        padding: 5px;
    }

    .Grid tbody tr:last-child td table, .dxgvTable tbody tr:last-child td table {
        color: #CBCBCB;
        font-size: 1.2em;
    }

        .Grid tbody tr:last-child td table a, .dxgvTable tbody tr:last-child td table a {
            color: #2c2c2c;
            text-decoration: none;
        }


/**/

/*BOTONES*/
/*.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px !important;
}*/
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #FFFFFF;
}

.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #FFFFFF;
}

.btn-azul {
    color: #fff !important;
    background-color: #19a1e0 !important;
    border-color: #FFFFFF !important;
}

    .btn-azul:active, .btn-azul:focus, .btn-azul:hover {
        background-color: #47B4E6 !important;
        border-color: #FFFFFF !important;
        color: #fff;
    }

.btn-verde {
    color: #fff;
    background-color: #6EBD71;
    border-color: #FFFFFF;
}

    .btn-verde:active, .btn-verde:focus, .btn-verde:hover {
        background-color: #8AC98C;
        border-color: #FFFFFF;
    }

.btn-amarillo {
    color: #fff;
    background-color: #FFC107;
    border-color: #FFFFFF;
}

    .btn-amarillo:active, .btn-amarillo:focus, .btn-amarillo:hover {
        background-color: #FFCD39;
        border-color: #FFFFFF;
    }

.btn-amarillo2 {
    color: #000000;
    background-color: #FFC107;
    border-color: #FFFFFF;
}

    .btn-amarillo2:active, .btn-amarillo2:focus, .btn-amarillo2:hover {
        color: #000000;
        background-color: #FECC38;
        border-color: #FFFFFF;
    }

.btn-rojo {
    color: #fff;
    background-color: #F44336;
    border-color: #FFFFFF;
}

    .btn-rojo:active, .btn-rojo:focus, .btn-rojo:hover {
        background-color: #F6695E;
        border-color: #FFFFFF;
    }

.btn-rojo2 {
    color: #ffffff;
    background-color: #F44336;
    border-color: #FFFFFF;
}

    .btn-rojo2:active, .btn-rojo2:focus, .btn-rojo2:hover {
        color: #ffffff;
        background-color: #F5685D;
        border-color: #FFFFFF;
    }

.btn-plomo {
    color: #fff;
    background-color: #58595B;
    border-color: #FFFFFF;
    border: 1px solid;
}

    .btn-plomo:active, .btn-plomo:focus, .btn-plomo:hover {
        background-color: #797A7C;
        border-color: #FFFFFF;
    }

.btn-blanco {
    color: #000000;
    background-color: #FAFAFA;
    border-color: #FFFFFF;
}

    .btn-blanco:active, .btn-blanco:focus, .btn-blanco:hover {
        color: #000000;
        background-color: #ededed;
        border-color: #FFFFFF;
    }

.btn-tag1, .btn-tag2 {
    color: #ffffff !important;
    border-color: #FFFFFF !important;
}

.btn-tag1 {
    background-color: #5C6BC0;
}

    .btn-tag1:active, .btn-tag1:focus, .btn-tag1:hover {
        background-color: #7D89CD;
    }

.btn-tag2 {
    background-color: #19a1e0;
}

    .btn-tag2:active, .btn-tag2:focus, .btn-tag2:hover {
        background-color: #47B4E6;
    }

.btn-tag3 {
    color: #ffffff;
    background-color: #F20202;
}

    .btn-tag3:active, .btn-tag3:focus, .btn-tag3:hover {
        background-color: #F44336;
    }

.dxgvEditFormDisplayRow_MetropolisBlue td.dxgv, .dxgvDataRow_MetropolisBlue td.dxgv, .dxgvDataRowAlt_MetropolisBlue td.dxgv, .dxgvSelectedRow_MetropolisBlue td.dxgv, .dxgvFocusedRow_MetropolisBlue td.dxgv {
    color: #626262 !important;
}

.titulo {
    font-size: 15pt;
    color: #626262;
    line-height: 20px;
    font-weight: bold;
}

.tooltip-app {
    font-family: 'Segoe UI';
    text-align: center;
    background: rgba(255, 255, 255, 1);
    bottom: 100%;
    color: #626262;
    font-family: 'Segoe UI';
    font-size: 11px;
    display: block;
    /* left: 75px; */
    margin-bottom: 7px;
    opacity: 0;
    padding: 13px 19px;
    pointer-events: none;
    position: absolute;
    /* width: 100%; */
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    transform: translate(-25%,0) !important;
    /*margin-left:7px;*/
    text-shadow: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    white-space: nowrap;
}
    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .tooltip-app:before {
        content: " ";
        bottom: -10px;
        height: 0;
        left: 75%;
        position: absolute;
        width: 50px;
        height: 10px;
        background-color: white;
        margin-bottom: 10px;
        margin-left: -25px;
        z-index: 2;
    }

    /* CSS Triangles - see Trevor's post */
    .tooltip-app:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid rgba(255, 255, 255, 1) 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 50%;
        position: absolute;
        filter: drop-shadow(0 0px 5px rgba(0,0,0,0.7));
    }

    .tooltip-app p, .popup-app p {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        font-size: 11px;
        line-height: normal;
    }

        .tooltip-app p:nth-child(1), .popup-app p:nth-child(1) {
            line-height: 17px;
            font-size: 12px;
            font-weight: bold;
        }


.div-tooltip:hover .tooltip-app {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.div-tooltip {
    position: relative;
}

.tooltips {
    position: relative;
    display: inline-block;
    font-weight: 300;
}

    .tooltips > span, a.tooltips > span {
        visibility: hidden;
        /*width: 120px;*/
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0;
        transition: opacity 1s;
        min-width: 140px;
        font-size: 1.2em;
        text-shadow: none !important;
    }

        .tooltips > span::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltips:hover > span {
        visibility: visible;
        opacity: 1;
    }

.dxgvEditFormDisplayRow td.dxgv, .dxgvDataRow td.dxgv, .dxgvDataRowAlt td.dxgv, .dxgvSelectedRow td.dxgv, .dxgvFocusedRow td.dxgv {
    overflow: visible;
}

.data-tabulada td i, .data-tabulada td a i, .Grid td i, .Grid td a i {
    font-size: 2em;
    color: #626262;
}

    .data-tabulada td i.fa-stack-1x {
        font-size: 1em;
    }

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-rojo {
    color: #F44336 !important;
}

.dxmLite_PlasticBlue {
    font: 12px 'Roboto' !important;
}

.formHeader {
    color: #626262;
    font-size: 13px;
}

a.btn {
    text-decoration: none;
}

.dxm-image.dx-vam {
    height: 20px;
}

.modalBackground {
    background-color: #1C1C1C;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.tramite {
    color: #3f51b5 !important;
}

.ayuda {
    color: rgba(255,152,0,1) !important;
}

.trash {
    color: #E57373 !important;
}

.pencil {
    color: #81C784 !important;
}

.refresh {
    color: #64B5F6 !important;
}

.requisito {
    color: #3f51b5 !important;
}

.historial {
    color: #64b5f6 !important;
}

.leaf {
    color: #4CAF50 !important;
}

.tooltips > span {
    text-align: center;
    cursor: default;
}

    .tooltips > span > div {
        display: inline-block;
    }

        .tooltips > span > div div {
            display: block;
        }

            .tooltips > span > div div:first-child {
                text-align: center;
            }

    .tooltips > span > a {
        color: #ffffff;
        text-decoration: none;
    }

        .tooltips > span > a i {
            background-color: #ffffff;
            height: 36px;
            width: 36px;
            font-size: 20px;
            line-height: 36px;
            vertical-align: middle;
            border-radius: 50%;
        }

        .tooltips > span > a:hover i {
            background-color: #ededed;
        }

    .tooltips > span > div {
        padding: 0 15px;
    }

        .tooltips > span > div:first-child {
            padding-left: 15px;
        }

        .tooltips > span > div:last-child {
            padding-right: 15px;
        }

    .tooltips > span > span {
        width: 100%;
        background-color: transparent;
        display: block;
        height: 10px;
        position: absolute;
        bottom: -5PX;
        left: 0PX;
    }

.con-detalle div:nth-child(2) {
    float: left;
}

.o1 {
    opacity: 0.1;
}

.naranja {
    color: #FF9800;
}

.amarillo {
    color: #FFC107 !important;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.icon {
    display: inline-block;
}

.GridHeader2 {
    background-color: rgba(0,0,0,0.08);
    color: #2c2c2c;
}

.dx-wrap.dxgv i, .dx-wrap dxgv a i {
    font-size: 2em;
    color: #626262;
}

.bg-azul {
    background-color: rgba(33, 150, 243, 0.05) !important;
}

.bg-naranja {
    background-color: rgba(255, 87, 34, 0.05) !important;
}

.dxgvHeader_MetropolisBlue {
    border-left: solid thin #ededed;
}

.dx-wrap.dxgv {
    border: 0;
    background-color: inherit !important;
    border-left: solid thin #ededed;
    padding: 5px;
}

.dxgvHeader_MetropolisBlue.GridHeader2, .dxgvHeader_MetropolisBlue.GridHeader2.dx-wrap {
    background-color: rgba(0,0,0,0.08);
    border-left: solid thin #ededed;
    padding: 5px;
}

td.dxgvHeader.dx-wrap {
    border-left: solid thin #f1f1f1 !important;
}

.dxgvHeader {
    border: 0;
    color: #2c2c2c !important;
    background-color: rgba(0,0,0,0.08) !important;
    border-top: solid thin #ededed;
    border-bottom: solid thin #CBCBCB;
}

table.dxgvTable tbody tr:nth-child(2):hover {
    background-color: inherit !important;
}

.header-n1 {
    border-top: solid thin #ededed;
    padding: 10px 5px;
    font-weight: bold;
}

.font-lg {
    font-size: 30px;
}

.ddl-filter { /*Para usar con el select2*/
}

.select2-dropdown.increasedzindexclass {
    z-index: 10100;
}

.titlePage {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', 'Calibri', sans-serif;
    color: #000;
    line-height: 26px;
    font-style: normal;
}
