﻿<%@ Page Title="Administrar Usuarios" Language="C#" MasterPageFile="~/MasterPages/Sistema.Master" AutoEventWireup="true" CodeBehind="AdminUsuariosNew.aspx.cs" Inherits="Web.Mantenimiento.AdminUsuariosNew" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <iframe id="ifrm" runat="server"></iframe>
      
</asp:Content>
<asp:Content ID="ContentFooter" ContentPlaceHolderID="ContentPlaceFooter" runat="server">
    <script>
        $(function () {
            //$("#ContentPlaceHolder1_ifrm").height(($(window).height() - 60));
        });
    </script>
</asp:Content>
