﻿/* default layout */
.ajax__tab_default .ajax__tab {
    display: block;
    float: left;
    height: 21px;
    margin-top: 1px;
}

.ajax__tab_default .ajax__tab_header {
    white-space: normal !important;
}

.ajax__tab_default .ajax__tab_outer {
    display: inline-block;
}

.ajax__tab_default .ajax__tab_inner {
    display: inline-block;
}

.ajax__tab_default .ajax__tab_tab {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    outline: none;
}

.ajax__tab_xp .ajax__tab_disabled {
    color: #A0A0A0;
    cursor: default;
}

/* xp theme top / default */
.ajax__tab_xp .ajax__tab_header {
    background-position: bottom;
    background-repeat: repeat-x;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
}

.ajax__tab_xp .ajax__tab_header:before, .ajax__tab_xp .ajax__tab_header:after {
    content: "";
    display: table;
}
.ajax__tab_xp .ajax__tab_header:after {
    clear: both;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    height: 21px;
    padding-right: 4px;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_inner {
    background-repeat: no-repeat;
    padding-left: 3px;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background-repeat: repeat-x;
    margin: 0;
    padding: 4px;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_inner {
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax__tab_tab {
    background-repeat: repeat-x;
    cursor: pointer;
}
/*.ajax__tab_xp .ajax__tab_header .ajax__tab_active { margin-top: 1px; } */
.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner {
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
    background-repeat: repeat-x;
}

.ajax__tab_xp .ajax__tab_body {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-top: 0;
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    padding: 8px;
}

/* xp theme vertical left */
.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab {
    float: none;
}

.ajax__tab_xp .ajax__tab_header_verticalleft {
    background-position: right;
    background-repeat: repeat-y;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    height: 21px;
    padding-right: 4px;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_inner {
    background-repeat: no-repeat;
    padding-left: 3px;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_tab {
    background-repeat: repeat-x;
    margin: 0;
    padding: 4px;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_inner {
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_hover .ajax__tab_tab {
    background-repeat: repeat-x;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active:not(:first-child) {
    margin-top: 1px;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_inner {
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header_verticalleft .ajax__tab_active .ajax__tab_tab {
    background-repeat: repeat-x;
}

.ajax__tab_xp .ajax__tab_body_verticalleft {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-left: 0;
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    padding: 8px;
}

/* xp theme vertical right */
.ajax__tab_xp .ajax__tab_header_verticalright {
    background-position: left;
    background-repeat: repeat-y;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    height: 21px;
    padding-right: 4px;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_inner {
    background-repeat: no-repeat;
    padding-left: 3px;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_tab {
    background-repeat: repeat-x;
    margin: 0;
    padding: 4px;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_inner {
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_hover .ajax__tab_tab {
    background-repeat: repeat-x;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active {
    margin-top: 1px;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_inner {
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header_verticalright .ajax__tab_active .ajax__tab_tab {
    background-repeat: repeat-x;
}

.ajax__tab_xp .ajax__tab_body_verticalright {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-right: 0;
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    padding: 8px;
}

/* header on bottom */
.ajax__tab_xp .ajax__tab_header_bottom {
    background-position: top;
    background-repeat: repeat-x;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    height: 21px;
    padding-right: 4px;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_inner {
    background-repeat: no-repeat;
    padding-left: 3px;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_tab {
    background-repeat: repeat-x;
    height: 17px;
    margin: 0;
    padding: 0 4px 4px 4px;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_inner {
    background-repeat: no-repeat;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_hover .ajax__tab_tab {
    background-repeat: repeat-x;
    cursor: pointer;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_outer {
    background-position: right;
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_inner {
    background-repeat: no-repeat;
}

.ajax__tab_xp .ajax__tab_header_bottom .ajax__tab_active .ajax__tab_tab {
    background-repeat: repeat-x;
}

.ajax__tab_xp .ajax__tab_body_bottom {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-bottom: 0;
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    padding: 8px;
}

/* scrolling */
.ajax__scroll_horiz {
    overflow-x: scroll;
}

.ajax__scroll_vert {
    overflow-y: scroll;
}

.ajax__scroll_both {
    overflow: scroll;
}

.ajax__scroll_auto {
    overflow: auto;
}

.ajax__scroll_none {
    overflow: hidden;
}

/* plain theme */
.ajax__tab_plain .ajax__tab_outer {
    border: 2px solid #999999;
    text-align: center;
    vertical-align: middle;
}

.ajax__tab_plain .ajax__tab_inner {
    text-align: center;
    vertical-align: middle;
}

.ajax__tab_plain .ajax__tab_body {
    text-align: center;
    vertical-align: middle;
}

.ajax__tab_plain .ajax__tab_header {
    text-align: center;
    vertical-align: middle;
}

.ajax__tab_plain .ajax__tab_active .ajax__tab_outer {
    background: #FFFFE1;
}


/* PERSONALIZACION TABS PANEL */
.ajax__tab_blueGrad-theme > .ajax__tab_header {
    font-family: Calibri,arial,helvetica,clean,sans-serif !important;
    font-size: small !important;
    color: #ffffff !important;
    border-bottom: solid 5px #468CF5 !important;
    height: 39px
}

    .ajax__tab_blueGrad-theme > .ajax__tab_header .ajax__tab_outer {
        background: url(../../../images/blueGrad.jpg) repeat-x !important;
        margin: 0px 0.16em 0px 0px !important;
        padding: 1px 0px 1px 0px !important;
        vertical-align: middle !important;
        border: solid 1px #a3a3a3 !important;
        border-bottom-width: 0px !important;
        height: 34px
    }

    .ajax__tab_blueGrad-theme > .ajax__tab_header .ajax__tab_tab {
        color: #ffffff !important;
        padding: 0.35em 0.75em !important;
        margin-right: 0.01em !important;
    }

.ajax__tab_blueGrad-theme > .ajax__tab_hover .ajax__tab_outer {
    background: url(../../../images/blueGrad.jpg) #468CF5 repeat-x left -1300px !important;
    margin: 0px 0.16em 0px 0px !important;
}

.ajax__tab_blueGrad-theme .ajax__tab_active .ajax__tab_tab {
    color: #fff !important;
}

.ajax__tab_blueGrad-theme .ajax__tab_active .ajax__tab_outer {
    background: url(../../../images/blueGrad.jpg) #468CF5 repeat-x left -1400px !important;
    margin: 0px 0.16em 0px 0px !important;
    font-weight: bold;
}

.ajax__tab_blueGrad-theme > .ajax__tab_body {
    font-family: Calibri,verdana,tahoma,helvetica !important;
    font-size: 10pt !important;
    padding: 0.25em 0.5em !important;
    background-color: #edf5ff !important;
    border: solid 1px #808080 !important;
    border-top-width: 0px !important;
}

/*GRIS*/
.ajax__tab_simple-theme > .ajax__tab_header {
    font-family: Calibri,arial,helvetica,clean,sans-serif !important;
    font-size: small !important;
    /* color: #000 !important;*/
    border-bottom: solid 1px #808080 !important;
    height: 35px;
}

    .ajax__tab_simple-theme > .ajax__tab_header .ajax__tab_outer {
       /* background: url(../../../images/lightblue.jpg) repeat-x !important;*/
        margin: 0px 0.16em 0px 0px !important;
        padding: 1px 0px 1px 0px !important;
        vertical-align: middle !important;
       /* border: solid 1px #a3a3a3 !important;*/
        border-bottom-width: 0px !important;
        height: 34px
    }

    .ajax__tab_simple-theme > .ajax__tab_header .ajax__tab_tab {
        /*color: #000 !important;*/
        color: #0066cc !important;
        padding: 0.35em 0.75em !important;
        margin-right: 0.01em !important;
    }

.ajax__tab_simple-theme > .ajax__tab_hover .ajax__tab_outer {
    /*background: url(../../../images/blueGrad.jpg) #468CF5 repeat-x left -1300px !important;*/
    background-color: #e7e7e7 !important;
    margin: 0px 0.16em 0px 0px !important;
}

.ajax__tab_simple-theme .ajax__tab_active .ajax__tab_tab {
    color: #000 !important;
}

.ajax__tab_simple-theme .ajax__tab_active .ajax__tab_outer {
    /*background: url(../../../images/blueGrad.jpg) #468CF5 repeat-x left -1400px !important;*/
    background-color: #fff !important;
    margin: 0px 0.16em 0px 0px !important;
    font-weight: bold;
    border: solid 1px #808080 !important;
    border-bottom:solid 1px #ffffff !important;
}

.ajax__tab_simple-theme > .ajax__tab_body {
    font-family: Calibri,verdana,tahoma,helvetica !important;
    font-size: 10pt !important;
    padding: 0.25em 0.5em !important;
    /*background-color: #edf5ff !important;*/
    border: solid 0px #808080 !important;
    border-top-width: 0px !important;
}
