﻿/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body .loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
modal element will be visible */
    body .loading .loader {
        display: block;
    }

.asuntos-particulares-1 {
    height: 100px;
    border: none;
}

.button-clean {
    margin-bottom: 0px !important;
}

.choose-option {
    padding: 0;
    margin: 10px 0;
}


    .choose-option select {
        margin: 10px 10px -10px;
    }

.content-header > .breadcrumb {
    font-size: 14px;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 285px;
}

.display-none {
    display: none !important;
}

.dropdown-menu {
    font-size: 16px;
}

.dz-error-message {
    top: 150px !important;
}

.e-actions-tramites, .e-actions-comisiones, .e-actions-compensacion, .e-actions-vacaciones {
    margin: 0px 0;
    text-align: right;
}

.e-show-detailt e-show-row {
    padding: 0px;
}

.e-show-col {
    border: 1px solid rgb(234, 234, 234);
    padding: 10px;
    margin-top: 20px;
}

.error {
    color: red;
}

.form-horizontal .control-label {
    text-align: left;
}

.icon-result {
    color: #1363AE;
}

.inline-block {
    display: inline-block !important;
}

.list-table-menu > ul > li {
    text-align: left !important;
}

.list-node-content > ul.list-content-table > li {
    text-align: left !important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../../img/ajax-loader.gif') 50% 50% no-repeat;
}

.main-sidebar, .left-side {
    padding-top: 80px;
    width: 285px;
}

.main-header .logo img {
    max-width: 50px
}

.main-header .logo {
    height: 70px;
    line-height: 70px;
    width: 285px;
    text-align: left:;
}

    .main-header .logo .logo-lg {
        display: inline-block;
        margin-left: 0.5em;
    }


.main-header > .navbar {
    min-height: 70px;
    margin-left: 285px;
}

.main-header .navbar .nav > li > a > .label {
    font-size: 12px;
    line-height: 1.1;
}

.main-header .sidebar-toggle {
    padding: 21px 15px;
    font-size: 1.3em;
}

/* Modal */
.modal-confirm-send {
    background: rgba(0, 0, 0, 0.48) none repeat scroll 0 0;
    display: none;
    height: 80%;
    left: 0;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 9999;
}

    .modal-confirm-send > div {
        background: white none repeat scroll 0 0;
        border-top: 3px solid rgb(0, 158, 255);
        height: 400px;
        margin: 300px auto;
        overflow: hidden;
        position: relative;
        /*width: 300px;*/
    }

        .modal-confirm-send > div > img {
            display: none;
            left: 100px;
            position: absolute;
            top: 0;
            width: 100%;
        }

.modal-confirm-send {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.48);
    left: 0;
    display: none;
}

    .modal-confirm-send > div, .modal-delete-file > div {
        /*width: 400px;*/
        height: 196px;
        background: white;
        margin: 300px auto;
        overflow: hidden;
        position: relative;
        border-top: 3px solid rgb(0, 158, 255);
    }

        .modal-confirm-send > div > img {
            width: 100%;
            display: none;
            position: relative;
            top: 0;
            width: 60%;
            left: 60px;
        }

.navbar-nav {
    margin-top: 0.4em;
}

.nav-text {
    padding-top: 18px;
    padding-bottom: 15px;
    color: white;
    font-size: 1.1em;
}

.table-results {
    text-align: center;
    background-color: rgb(237, 237, 237);
    padding: 5px;
    margin-top: -10px;
}

.required-field {
    color: red;
}

.search-result-sep {
    margin-top: 0px;
    margin-bottom: 10px;
}

.skin-blue .sidebar-menu > li.header {
    font-size: 1em;
}

.treeview a, .treeview-menu a {
    font-size: 16px !important;
}

#content-confirm h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6;
}

#footer-confirm {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

#frmBusca {
    float: left;
    padding-top: 0.8em;
}

#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 58px;
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
}

    #infobox3 p {
        line-height: 58px;
        font-size: 12px;
        text-align: center;
    }

        #infobox3 p a {
            margin-right: 5px;
            text-decoration: underline;
        }

#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}

.sin-asignar {
    background-color: #5bc0de;
    color: white;
    white-space: normal;
}

.asignado {
    background-color: #337ab7;
    color: white;
    white-space: normal;
}

.evaluacion {
    background-color: #f0ad4e;
    color: white;
    white-space: normal;
}

.aprobado {
    background-color: #449d44;
    color: white;
    white-space: normal;
}

.observacion {
    background-color: #d43f3a;
    color: white;
    white-space: normal;
}



@media (max-width: 767px) {

    .content-wrapper, .right-side, .main-footer {
        margin-left: 0px;
    }

    .content-header {
        padding: 55px 15px 0 15px;
    }

    .main-sidebar, .left-side {
        top: 40px;
        -webkit-transform: translate(-285px, 0);
        -ms-transform: translate(-285px, 0);
        -o-transform: translate(-285px, 0);
        transform: translate(-285px, 0);
    }

    .main-header .logo, .main-header .navbar {
        margin-left: 0px !important;
    }

    .main-header .logo {
        width: 100%;
    }

    .sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer {
        -webkit-transform: translate(285px, 0);
        -ms-transform: translate(285px, 0);
        -o-transform: translate(285px, 0);
        transform: translate(285px, 0);
    }

    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: black;
    }

        .skin-blue .main-header .navbar .dropdown-menu li a:hover {
            background-color: #e1e3e9;
            color: #333;
        }
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li > a {
        line-height: 38px;
    }

    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        right: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        width: 285px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 82px;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 82px;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}

/* ---------------------------------------  EXTRA STYLES ------------------------------------- */
/* Bootstrap custom*/
.my-form-inline {
    /*margin-left: -5px !important;*/
    margin-right: -5px !important;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 15px;
}

.padding-zero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.margin-zero {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row.margin-zero {
    margin-bottom: 5px !important;
}

.row.bolder, tr.bolder, td.bolder {
    font-weight: bolder !important;
}

.w32 {
    width: 32% !important;
}

.inp-margin {
    margin-bottom: 10px;
}

fieldset.custom-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em !important;
    margin: 0 0 5px 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.custom-border {
    font-size: 18px !important;
    /*font-weight: bold !important;*/
    text-align: left !important;
    width: auto;
    padding: 10px 10px 0;
    border-bottom: none;
}

/* DropZone Styles */
div[id^='myDz'] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    background: #ECF0F5;
}

    div[id^='myDz'] .dz-preview.dz-image-preview {
        background: #ecf0f5 !important;
    }

    div[id^='myDz'] .dz-message {
        margin: 3em 0 !important;
    }

        div[id^='myDz'] .dz-message span {
            color: #3c8dbc;
            font-size: 18px;
        }

/* DevExtreme Custom Style*/

/*Alimeamiento de widget import para mi asistencia*/
#exportMenu .dx-menu-horizontal { /*ul.dx-menu-items-container*/
    text-align: right !important;
}

.navegador-Compatible {
    font-size: 13px;
    line-height: 500px;
    font-weight: bold;
}

/* Correccion de grilla -> acordeon jonatan*/

.file-attachment2 {
    background: rgb(234, 234, 234) none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
    /*margin-top: -10px;*/
    text-align: center;
    width: 50px;
}

    .file-attachment2 > .fa {
        margin-top: 18px;
    }

    .file-attachment2 > div {
        margin-top: 11px;
    }

        .file-attachment2 > div > span {
            /*bottom: 0;
    content: "ver archivo";*/
            color: black;
            font-size: 10px;
            margin-top: 16px;
            /*margin-left: -35px;
    position: absolute;*/
        }

    .file-attachment2:hover {
        background: rgb(19, 99, 174) none repeat scroll 0 0;
        color: rgb(255, 255, 255);
    }
/* Dev Extreme grid html anidado*/
.dx-master-detail-cell h3 {
    margin: 0 !important;
}

.no-border-top {
    border-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.font-bold {
    font-weight: bold !important;
}

.color-red {
    color: #E30000 !important;
}


.footer {
    background-color: #FCFCFC;
}

.footer__menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__bottom {
    text-align: center;
    padding-top: 30px;
}

    .footer__bottom p {
        color: #fff !important
    }

.footer__menu a {
    color: #8AA4AF !important;
    font-size: 12px;
}

.tac {
    text-align: center;
}

.w--100 {
    width: 100%
}


/*MFYANCE*/
body.sidebar-collapse .logo + nav {
    margin-left: 50px !important;
}

body.sidebar-collapse .logo img {
    max-width: 40px !important;
}

body.sidebar-collapse .logo {
    width: 50px !important;
    padding: 0 !important;
}

.asistencia__exportar {
    padding-top: 5px;
}

#exportMenu {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}

.select__texto h3 {
    display: inline-block;
}

.select__texto select {
    display: inline-block;
    width: auto;
    margin-left: 7px
}

#tourConfiguraciones .dropdown-menu a:hover i {
    color: #2D2272
}

.content-header > h1 {
    font-weight: bold !important;
    font-size: 30px !important;
}

    .content-header > h1 > div {
        display: none !important;
    }

.skin-blue .sidebar-menu > li > .treeview-menu {
    background-color: #25333A
}

.skin-blue .main-header .navbar {
    background-color: #0086CD;
}

.skin-blue .main-header .logo:hover {
    background-color: #0086CD;
}

.skin-blue .main-header .logo {
    background-color: #00BFF5;
}

.skin-blue .sidebar-menu > li:hover > a {
    border-left-color: #00BFF5;
}

.skin-blue .sidebar-menu > li.active > a {
    background: #2D2272;
    border-left-color: #00BFF5;
}

.main-sidebar {
    padding-top: 67px
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 5px 10px 15px;
}

.sidebar-menu > li > a {
    padding: 15px 5px 15px 15px;
}

.sidebar-menu .tab--is-active {
    color: white !important;
}

    .sidebar-menu .tab--is-active > i {
        color: #00BFF5
    }

.box.box-primary {
    border-top-color: #0086CD !important;
}

.main-header .logo {
    height: 65px !important;
    line-height: 61px !important;
}

.navbar-nav {
    margin-top: 0 !important
}

.main-header .sidebar-toggle {
    height: 65px;
    line-height: 65px !important;
    padding: 0px 25px !important;
    font-size: 20px !important;
}

.main-header > .navbar {
    min-height: 65px !important;
}

#tourConfiguraciones ul a {
    padding: 13px 20px;
    color: #222d32
}

    #tourConfiguraciones ul a i {
        color: #0099D7
    }

    #tourConfiguraciones ul a:hover {
        color: #2D2272 !important
    }

#tourConfiguraciones ul {
    padding: 0
}

#tourConfiguraciones > a {
    padding: 12px 10px !important;
}

footer {
    background-color: #25333A !important;
    color: white
}

    footer h5 {
        color: white;
        font-size: 14px;
    }


/*Helpers*/
.input--is-readonly {
    border: none;
    background: transparent;
}

.input__campania--w100 {
    width: 100px
}

.input__campania--w70 {
    width: 70px
}

.input__campania--w50 {
    width: 50px
}

.input__campania.error {
    background-color: #FF7D7D;
    border-color: #900202;
    color: #fff !important;
}

.input__campania {
    border: 2px solid #DADADA;
    display: inline-block;
    text-align: center;
}

.global__loading {
    padding: 60px 10px;
    text-align: center;
}

.btn--blue:hover {
    background-color: #2D2272;
    color: white;
}

.btn--blue {
    background-color: #0087D1;
    color: white;
    padding: 15px 30px;
}

.btn--grey {
    background-color: #ddd;
    color: white;
    padding: 15px 30px;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.color--blanco {
    color: white
}

.color__azul {
    color: #0099D7
}

.color__azul--pasivo {
    color: #0087D1
}

.color__celeste {
    color: #00C0F4
}

.color__morado {
    color: #2D2272
}

.bgc--morado {
    background-color: #2D2272
}

.color__gris {
    color: #222d32
}

.color__gris--pasivo {
    color: #25333A
}

.color__petroleo {
    color: #8AA4AF
}

.pr--10 {
    padding-right: 10px
}

.color--blue {
    color: #0087D1
}

.color--brown {
    color: #606060
}

.mb--10 {
    margin-bottom: 10px
}

.mb--20 {
    margin-bottom: 20px
}

.mb--30 {
    margin-bottom: 30px
}

.mb--40 {
    margin-bottom: 40px
}

.mt--10 {
    margin-top: 10px
}

.mt--20 {
    margin-top: 20px
}

.mt--30 {
    margin-top: 30px
}

.mt--40 {
    margin-top: 40px
}



.p--10 {
    padding: 10px;
}

.p--20 {
    padding: 20px;
}

.p_l--5 {
    padding-left: 5px
}

.p_t--30 {
    padding-top: 30px;
}

.p_b--30 {
    padding-top: 30px;
}

.p_l--10 {
    padding-left: 10px;
}

.p_r--10 {
    padding-right: 10px;
}

.p_b--10 {
    padding-bottom: 10px;
}

.m_b--10 {
    margin-bottom: 10px;
}

.p_b--20 {
    padding-bottom: 20px;
}

.m_b--20 {
    margin-bottom: 20px;
}

.ta--c {
    text-align: center;
}

.ta--r {
    text-align: right;
}

.ta--l {
    text-align: left;
}

.va--m {
    vertical-align: middle;
}

.w--10 {
    width: 10%
}

.w--20 {
    width: 20%
}

.w--30 {
    width: 30%
}

.w--40 {
    width: 40%
}

.w--50 {
    width: 50%
}

.w--60 {
    width: 60%
}

.w--70 {
    width: 70%
}

.w--80 {
    width: 80%
}

.w--90 {
    width: 90%
}

.w--100 {
    width: 100%
}

.o_f--h {
    overflow: hidden;
}

.f_s--i {
    font-style: italic;
}

.transform__rotate--180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.p--r {
    position: relative;
}

.d--i-b {
    display: inline-block;
}

.f_s--25 {
    font-size: 25px
}

.f_s--22 {
    font-size: 22px
}

.f_s--20 {
    font-size: 20px
}

.f_s--18 {
    font-size: 18px
}

.f_s--15 {
    font-size: 15px
}

.f_s--13 {
    font-size: 13px
}

.v_a--1 {
    vertical-align: 1px
}

.v_a--2 {
    vertical-align: 2px
}

.v_a--3 {
    vertical-align: 3px
}

.v_a--4 {
    vertical-align: 4px
}

.v_a--5 {
    vertical-align: 5px
}


.cleaner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
}

    .cleaner:after {
        clear: both;
    }

    .cleaner:before,
    .cleaner:after {
        display: table;
        line-height: 0;
        content: "";
    }

ul {
    padding: 0
}
/*Input Type[Checkbox]*/
/*
 * Checkbox and Radio
 */
.mycheckbox {
    cursor: pointer;
}

    .mycheckbox label,
    .radio label {
        padding-left: 30px;
        position: relative;
    }

    .mycheckbox input,
    .radio input {
        top: 0;
        left: 0;
        margin-left: 0 !important;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        margin-top: 0;
    }

    .mycheckbox .input-helper:before,
    .radio .input-helper:before,
    .mycheckbox .input-helper:after,
    .radio .input-helper:after {
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        content: "";
    }

    .mycheckbox .input-helper:before,
    .radio .input-helper:before {
        left: 0;
        border: 1px solid #ccc;
    }

    .mycheckbox.disabled,
    .radio.disabled {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    .mycheckbox input {
        width: 17px;
        height: 17px;
    }

        .mycheckbox input:checked ~ span {
            color: #2D2272;
        }

        .mycheckbox input:checked + .input-helper:before {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }

        .mycheckbox input:checked + .input-helper:after {
            -webkit-transform: scale(1) rotate(-50deg);
            -ms-transform: scale(1) rotate(-50deg);
            -o-transform: scale(1) rotate(-50deg);
            transform: scale(1) rotate(-50deg);
            opacity: 1;
            filter: alpha(opacity=100);
        }

    .mycheckbox .input-helper:before {
        top: 0;
        width: 17px;
        height: 17px;
    }

    .mycheckbox .input-helper:after {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0) rotate(80deg);
        -ms-transform: scale(0) rotate(80deg);
        -o-transform: scale(0) rotate(80deg);
        transform: scale(0) rotate(80deg);
        width: 22px;
        height: 9px;
        border-bottom: 2px solid #2D2272;
        border-left: 2px solid #2D2272;
        border-bottom-left-radius: 2px;
        left: -1px;
        top: 1px;
    }


/*Animated*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
}


/*Validate*/
.success em {
    display: none !important;
}

.error em {
    display: inline-block !important;
}

.error .form-control {
    border-color: #FF3838;
}

.validate__element {
    position: relative;
}

    .validate__element em:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -5px;
        left: 0px;
        border-left: 12px solid #FF3838;
        border-top: 5px solid transparent;
    }

    .validate__element em {
        z-index: 2;
        font-style: italic;
        font-size: 12px;
        padding: 1px 5px;
        position: absolute;
        bottom: -18px;
        left: 31px;
        background-color: #FF3838;
        color: #FFF;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border-top-left-radius: 0px !important
    }

.bgloading {
    position: relative;
}

    .bgloading .bgmodal {
        background-color: #333;
        /*border-radius: 5px 5px 0 0;*/
        /*display: none;*/
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0.35;
        position: absolute;
        z-index: 1000;
    }
