
/*body {
    font-family: 'Roboto', Helvetica !important;
    font-size: 12px;
    line-height: 13px;*/
    /*margin: 0;*/
/*}*/

/*a {color:black; text-decoration:none}
a:hover {color:#01a0ff; }*/

a.enlace {
    color: #0000CC;
    text-decoration: none;
    cursor: pointer;
}

    a.enlace:hover {
        color: #01a0ff;
        text-decoration: underline;
    }

a.enlace1 {
    color: #0000CC;
    text-decoration: underline;
    cursor: pointer;
}

    a.enlace1:hover {
        color: #01a0ff;
        text-decoration: underline;
    }

div#nifty {
    margin: 0;
    background: #F0EDE0;
}

b.rtop, b.rbottom {
    display: block;
    background: #FFF;
}

    b.rtop b, b.rbottom b {
        display: block;
        height: 1px;
        overflow: hidden;
        background: #F0EDE0;
    }

b.r1 {
    margin: 0 4px;
}

b.r2 {
    margin: 0 3px;
}

b.r3 {
    margin: 0 2px;
}

b.rtop b.r4, b.rbottom b.r4 {
    margin: 0 1px;
    height: 1px;
}



.boton {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
	background-color:#264d5b;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #28375B;
    color: white;
    border: 1px;
    border-style: solid;
    /*border-color: #2c5869;*/
    border-color: #4864A4;
    cursor: pointer;
    font-size: 9.5px;
    padding: 3px;
}

.boton1 {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#4E99B6');
    background-color: #4E99B6;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #2c5869;
    cursor: pointer;
    font-size: 9.5px;
    padding: 3px;
}

.BordeTopBottom {
    border-top: #d4d0c8 1px solid;
    border-bottom: #d4d0c8 1px solid;
}

.BordeRightTopBottom {
    border-right: #d4d0c8 1px solid;
    border-top: #d4d0c8 1px solid;
    border-bottom: #d4d0c8 1px solid;
}

.BordeRight {
    border-right: #d4d0c8 1px solid;
}

.Grid {
    border-right: #2c5869 1px solid;
    border-top: #2c5869 1px solid;
    border-left: #2c5869 1px solid;
    border-bottom: #2c5869 1px solid;
    font-family: "Segoe UI";
    font-size: 10px;
    color: #333;
}

.Grid2 {
    border-right: white 1px solid;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
}

.Grid3 {
    border-right: #620000 1px solid;
    border-top: #620000 1px solid;
    border-left: #620000 1px solid;
    border-bottom: #620000 1px solid;
}

.Grid4 {
    border-right: #1b2849 1px solid;
    border-top: #1b2849 1px solid;
    border-left: #1b2849 1px solid;
    border-bottom: #1b2849 1px solid;
}

.GridHeader {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    background-color:#264d5b;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #28375B;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.GridHeader2 {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');*/
    background-color: rgba(0,0,0,0.08);
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    /*border: #000000 1px solid;*/
    border-left: solid thin #ededed;
    text-align: center;
}

td.GridHeader2 table {
    border-left: solid thin #ededed;
}

.GridHeader3 {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');*/
    background-color: #2D7BBD;
    font-weight: bold;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #000000;
    text-align: center;
    color: #FFF;
}


.GridHeaderCheckList {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    background-color:#264d5b;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #485980;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
}


.GridHeaderCheckList2 {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    background-color:#264d5b;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #6D84BA;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.GridHeaderCheckList3 {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    background-color:#264d5b;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #A6B2CE;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
}





.GridHeaderAmbiental {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');*/
    background-color: #4A893D;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border: #000000 1px solid;
    text-align: center;
}

.GridHeaderProceso {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#e0ff82', EndColorStr='#324200');
    background-color: #324200;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: #d4d0c8 1px solid;
    text-align: center;
}

.GridHeaderExpediente {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#97eaff', EndColorStr='#004759');
    background-color: #004759;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: #000 1px solid;
    text-align: center;
    font-family: Calibri;
}

.tablaRegistro {
    line-height: 6px;
}

.tabla_ambito {
    border: 1px solid #203f4a;
}

.GridHeaderObra {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffe991', EndColorStr='#4f3f00');
    background-color: #4f3f00;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: #d4d0c8 1px solid;
    text-align: center;
}

.GridHeaderPostInversion {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#84A3EA', EndColorStr='#2268D2');
    background-color: #2268D2;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: #d4d0c8 1px solid;
    text-align: center;
}

.GridHeaderAdjunto {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4654B3', EndColorStr='#00366c');
    background-color: #00366c;
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: #d4d0c8 1px solid;
    text-align: center;
}

.GridAlternating {
    /*background:#e1edf2;*/
    background: #F5F5F5;
}

.GridAlternating_proc {
    /*background:#e1edf2;*/
    background: #f7fede;
}

.GridAlternating_expe {
    /*background:#e1edf2;*/
    background: #e7fafe;
}

.GridAlternating_obra {
    /*background:#e1edf2;*/
    background: #faf3dc;
}

.GridRowSelected {
    /*background-color:#fffff0;
    background-color:#EEF163;*/
    background-color: #F3F59E;
}

.HeaderInfoBase {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#b7d0dd", EndColorStr="#386478"); #55A3FF#2662DF#1E55C8*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#A9B7D8", EndColorStr="#5B7AC4");
    background-color: #425F95;
    text-align: center;
    font-weight: bold;
    color: white;
    height: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.fondocabecera {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    background-color:#264d5b;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A9BDE2', EndColorStr='#1E366F');
    background-color: #1E366F;
}

.SeparadorInfoBase {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr="#aaaaff", EndColorStr="#0000c4");
    background-color: #0000c4;
}

.HeaderSeguimiento {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#ff9b9b", EndColorStr="#620000");
    background-color: #620000;
    text-align: center;
    font-weight: bold;
    color: white;
    height: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

/*.header {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A9BDE2', EndColorStr='#1E366F');
    background-color: #1E366F;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    height: 15px;
}*/

.header1 {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#70D0D8');
    background-color: #70D0D8;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    height: 15px;
}

.title {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#a4cad9', EndColorStr='#366c81');
	background-color:#366c81;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A9BDE2', EndColorStr='#1E366F');
    background-color: #1E366F;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.texto {
    color: black;
    border: 1px;
    border-style: solid;
    border-color: #656631;
}

.lblTitulo {
    line-height: 12px;
}

.urlTexto {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.urlTexto2 {
    text-decoration: none;
    cursor: pointer;
    color: #264d5b;
}

.lineavertical {
    background-color: #e3eef2;
}

.anterior {
    background: transparent url(../img/previous.gif) no-repeat scroll center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.siguiente {
    background: transparent url(../img/next.gif) no-repeat scroll center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.primero {
    background: transparent url(../img/first.gif) no-repeat scroll center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.ultimo {
    background: transparent url(../img/last.gif) no-repeat scroll center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#master_contentplaceholder {
    padding: 10px 10px 10px 10px;
}

#master_contentfooter {
    clear: both;
    text-align: center;
    padding: 10px 0 5px 0;
    color: White;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.sidebarheader {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#a4cad9', EndColorStr='#366c81');
    background-color: #366c81;
    height: 15px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

.modalBackground {
    background-color: #1C1C1C;
    filter: alpha(opacity=70);
    opacity: 0.7;
    /*position: fixed;
          z-index: 98;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
            background-color: #aaa; 
            filter: alpha(opacity=80); 
            opacity: 0.8;*/
}
/* Rounded Corners*/
.roundedPanelContenido {
    font-size: 1.0em;
    text-align: center;
    vertical-align: middle;
    /*background-color:#669eb5;
	background-color:#81AEF2;*/
}

.fondoPaginadoControl {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#a4cad9', EndColorStr='#366c81');
    background-color: #366c81;
    font-size: 1.0em;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.formatoFechaSeguimiento {
    font-weight: bold;
    color: Blue;
    font-size: 9px;
}
/**/
/* ESTILOS PARA IMPRESION DE CONSTANCIA */
/**/
.style1 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.style2 {
    font-weight: bold;
    /*color:white;
	background-color:#d4d0c8;*/
}

.style3 {
    padding-left: 15px;
    padding-bottom: 5px;
}

.style4 {
    padding-left: 10px;
}

.style5 {
    font-size: 9px;
    font-weight: bold;
}

.style6 {
    font-size: 8px;
}

.ToolBarItem {
    font-weight: bold;
    border: 1px solid #264d5b;
    background-color: #e3eef2;
    color: Black;
    padding: 2px;
}

.PanelFloat {
    background-color: #e9effe;
    position: absolute;
    left: 400px;
    top: 250px;
}

.TituloFloat {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');*/
    background-color: #3e7c95;
    font-weight: bold;
    color: white;
    height: 25px;
    cursor: move;
}

/*para menu en concesiones*/

.menu {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #28375B;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #4864A4;
    cursor: pointer;
    font-size: 9.5px;
    padding: 3px;
}

a.enlace2 {
    height: 25px;
    font-size: 9.5px;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
}

    a.enlace2:visited {
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#88BBE6', EndColorStr='#2888E8');
        background-color: #28375B;
        font-weight: bold;
        color: white;
        border: 1px;
        display: block;
        padding: 6px 0 0 8px;
    }

    a.enlace2:hover, a.enlace2:link {
        color: white;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#4970B6');
        background-color: #4970B6;
        padding: 6px 0 0 8px;
        display: block;
        font-weight: bold;
        border: 1px;
    }

/*estilos para los controles acordion*/

.accordion {
    width: 400px;
}

/*.accordionHeader { border: 1px solid #2F4F4F; color: white; background-color: #2E4d7B; font-family: Tahoma; font-size: 9.5px; font-weight: bold; padding: 3px; margin-top: 3px; cursor: pointer; }  
.accordionHeaderSelected { border: 1px solid #2F4F4F; color: white; background-color: #5078B3; font-family: Tahoma; font-size: 9.5px; font-weight: bold; padding: 3px; margin-top: 3px; cursor: pointer; }  
.accordionContent { background-color: #D3DEEF; border: 1px dashed #2F4F4F; border-top: none; padding: 3px; padding-top: 10px; font-family: Tahoma; font-size: 9.5px;} 
*/
.accordionHeader {
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #6691D7;
    font-size: 9.5px;
    font-weight: bold;
    padding: 3px;
    margin-top: 3px;
    cursor: pointer;
    text-decoration: underline;
}

.accordionHeaderSelected {
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #3268C2;
    font-size: 9.5px;
    font-weight: bold;
    padding: 3px;
    margin-top: 3px;
    cursor: pointer;
}

.accordionContent {
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
    font-size: 9.5px;
}

.ajax__tab_tab { /*text-height : 20px;*/
    font-size: 12px;
    background-color: #0071A1;
    color: #ffffff;
}

.GridHeaderMonitor {
    background-color: rgb(79, 63, 0);
    font-weight: bold;
    color: white;
    height: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.GridHeaderEstudios {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    background-color: #610B0B;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 14px;
}

.txtCenter {
    text-align: center;
}

.counter {
    color: Red;
    font-size: 11px;
}

.counterAlert {
    border: 1px Solid Red;
}



table tr.GridRowNormal:hover, table tr.GridAlternating:hover, table tr.Grid:hover {
    background-color: #FFFF99;
    color: black;
}

table tr.GridRowNormal {
    background-color: #fff;
    text-align: center;
}

table tr.GridAlternating {
    background-color: #F5F5F5;
    text-align: center;
}

@font-face {
    SRC: url('DINB.ttf');
}


table.tblFicha tr:hover {
    background-color: #FFFF99;
}



table tr.GridFicha:hover {
    background-color: #FFFF99;
    color: black;
}


/*.titulo {
    font-size: 14pt;
   font-family: 'DINB';
    color: #0094D4;
}*/

.tituloTipo {
    font-size: 13pt;
    color: #000000;
}

.titulo2 {
    /*font-family: 'DINB';*/
    font-size: 12pt;
    color: #28375B;
}

.titulo4 {
    /*font-family: 'DINB';*/
    font-size: 11pt;
    color: #28375B;
}



input, select, textarea {
    padding: 8px 10px;
    /*border-radius:2px !important;*/
    font-size: 12px;
    /*font-family: 'Roboto',Tahoma !important;*/
}

    input[type=submit] {
        padding: 6px 12px !important;
        display: inline-block;
    }

    /*input[type=submit], input[type=reset] {
        color: #fff !important;
        background-color: #19a1e0 !important;
        border-color: #FFFFFF !important;
        border-radius: 5px !important;
        text-shadow: none;
    }

        input[type=submit]:hover, input[type=submit]:visited, input[type=submit]:active, input[type=reset]:hover, input[type=reset]:active, input[type=reset]:visited {
            background-color: #47B4E6 !important;
            border-color: #FFFFFF !important;
        }*/

    select:disabled, textarea:disabled {
        cursor: not-allowed !important;
        background-color: #eee !important;
        color: #545454 !important;
        opacity: 1;
    }


.footerLogin {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
}
