﻿/*@import url('../sources/css/custom.css');*/


.submenu {
    position: absolute;
    margin-left: 96px;
    margin-top: -108px; /*hack para ie 7*/
    *margin-top: -108px; /*hack para ie 7*/
    *margin-left: -220px; /*hack para ie 7*/
    width: 300px;
    height: 50px;
    text-align: left;
    padding: 11px 3px;
    font-size: 11px;
    border-radius: 8px 8px 8px 8px;
    display: none;
}

.subsubmenu {
    position: absolute;
    margin-left: 66px;
    *margin-top: 58px; /*hack para ie 7*/
    *margin-left: -220px; /*hack para ie 7*/
    width: 600px;
    height: 40px;
    text-align: center;
    background: none repeat scroll 0% 0% rgb(249, 250, 251);
    border: 3px solid rgb(232, 237, 244);
    padding: 11px 3px 4px;
    font-size: 11px;
    border-radius: 8px 8px 8px 8px;
    display: none;
}

.subsubmenuEstudio {
    position: absolute;
    margin-left: 16px;
    *margin-top: 58px; /*hack para ie 7*/
    *margin-left: -220px; /*hack para ie 7*/
    width: 300px;
    height: 16px;
    text-align: center;
    background: none repeat scroll 0% 0% rgb(249, 250, 251);
    border: 3px solid rgb(232, 237, 244);
    padding: 11px 3px;
    font-size: 11px;
    border-radius: 8px 8px 8px 8px;
    display: none;
}

input[type="submit"]:disabled {
    background: #dddddd;
    cursor: auto;
    color: #303030 !important;
}

.formulario {
    max-width: 420px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #F4F7F8 none repeat scroll 0% 0%;
    border-radius: 8px;
    border: 1px solid #DBE2EF;
}

input[type="text"],
textarea, input[type="password"],
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 15px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

#content input[type="text"], #content input[type="password"] {
    border-radius: 3px;
    box-shadow: 0px 1px 0px #FFF, 0px -2px 5px rgba(0, 0, 0, 0.08) inset;
    transition: all 0.5s ease 0s;
    background: #EAE7E7 url("img/master/icons.png") no-repeat scroll 0% 0%;
    border: 1px solid #C8C8C8;
    color: #777;
    font: 13px Helvetica,Arial,sans-serif;
    padding: 12px 10px 8px 40px;
}

#txtUser {
    background-position: 10px 10px !important;
}

#txtPass {
    background-position: 10px -53px !important;
}

@media only screen and (max-width: 1250px) {
    #bodyTheme {
        background-size: 70%;
    }
}

html {
    padding: 0;
    margin: 0;
    background: url('../images/1.jpg') no-repeat 50% fixed;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto; /*scroll;*/
}

body {
    background-color: red;
    padding: 0;
    margin: 0;
    background: url('../images/malla.png') right bottom repeat;
    height: 100%;
    font-family: Helvetica !important;
}

.header-login {
    background-color: rgba(88,89,91,0.8);
    padding: 5px 0;
}

#regbar {
    background: none;
    height: auto;
}

#navthing {
}

    #navthing img {
        border: solid 3px #fff;
        float: left;
    }

.login {
    position: absolute;
}

#bodyTheme {
    background: none;
}

.formulario {
    background-color: rgba(255,255,255,0.45);
    max-width: 360px;
    border: none;
    margin-top: 180px;
}

#navthing .options span {
    line-height: 46px;
}

.formulario, .formholder {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.desc-img {
    color: #ffffff;
    width: 71px;
    font-size: 12px;
    display: table-cell;
    height: 45px;
    vertical-align: middle;
    text-shadow: 0 1px 1px #000000;
}

.link-img {
    display: table-cell;
}

h1 {
    font-size: 19px;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 5px;
}

h1, .label {
    color: #000000;
    text-shadow: 0 1px 2px #fff;
}

.options {
    color: #fff;
    font-size: 10px !important;
}

#content {
    color: #384047;
}

    #content input[type="text"], #content input[type="password"] {
        border-radius: 3px !important;
        box-shadow: 0px 1px 0px #FFF, 0px -2px 5px rgba(0, 0, 0, 0.08) inset !important;
        transition: all 0.5s ease 0s !important;
        background: #EAE7E7 url(../img/master/icons.png) no-repeat scroll 0% 0% !important;
        border: 1px solid #C8C8C8 !important;
        color: #777 !important;
        font: 13px Helvetica,Arial,sans-serif !important;
        padding: 12px 10px 8px 40px !important;
        /* width: 80%; */
    }

iframe {
    width: 100%;
    /* max-width: 100%; */
    height: 280px;
    border: 0;
}


