﻿
.containerFicha {
    max-width: 1300px;
    background-color: #FFF;
    margin: 0 auto; /* el valor automático de los lados, unido a la anchura, centra el diseño */
    border-color: Black;
    border-width: 1px;
    border-left: 1px;
}

.content {
    padding: 10px 0;
    background-color: #FFF;
    margin: 0 auto; /* el valor automático de los lados, unido a la anchura, centra el diseño */
    border-color: Black;
    border-width: 1px;
    border-left: 1px;
}

.TablaMaestra {
    width: 100%;
}
/*PRUEBA*/

.divBody {
    padding: 6px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #0080C0;
    font-family: Calibri;
}

.titulo {
    font-size: 14pt;
    font-family: 'DINB';
    color: #0094D4;
}

.tituloTipo {
    font-size: 13pt;
    font-family: 'DINB';
    color: #000000;
}

.titulo2 {
    font-family: 'DINB';
    font-size: 12pt;
    color: #28375B;
}

.titulo4 {
    font-family: 'DINB';
    font-size: 11pt;
    color: #28375B;
}

.titulo5 {
    font-family: Arial;
    font-size: 10pt;
    color: #28375B;
}

.Arial_titulo2 {
    font-family: Arial;
    font-size: 12pt;
    color: #28375B;
}

.Arial_titulo4 {
    font-family: Arial;
    font-size: 11pt;
    color: #28375B;
}

.Arial_titulo5 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
    color: #28375B;
}

.tituloContador {
    font-family: Calibri;
    font-size: 10pt;
}

.titulo3 {
    font-family: 'DINB';
    font-size: 11pt;
    line-height: 25px;
    background-color: #38476B;
    color: #ffffff;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-top-right-radius: 11px;
    -webkit-border-top-left-radius: 11px;
    /*border: 1px solid #28375B;*/
}

.BloqueInfo {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 1px solid #28375B;
    line-height: 25px;
    width: 96%;
}

.BloqueFiltro {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 2px solid #28375B;
    line-height: 25px;
    width: 96%;
}

.BloqueInfoTotal {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 1px solid #28375B;
    line-height: 25px;
    width: 98%;
    background-color: White;
}

.CuadrosEmergentes {
    border: 1px solid #28375B;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.CuadrosEmergentesFuerte {
    border: 2px solid #337ab7;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.PanelOpcionalIzq {
    padding-left: 20px;
    padding-top: 5px;
}

.PanelOpcionalDer {
    padding-left: 240px;
    padding-top: 5px;
    padding-right: 20px;
}


.GridHeader66 {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #58678B;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    line-height: 14px;
}

.GridHeader2 {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #58678B;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 14px;
}

.GridHeaderTemplate {
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#78b1c7', EndColorStr='#264d5b');
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#55A3FF', EndColorStr='#5E8AE8');
    background-color:#5E8AE8;*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8C99B9', EndColorStr='#28375B');
    background-color: #58678B;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    line-height: 14px;
}

.GridHeader3 {
    
    background-color: #666666;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 14px;
}

.tablaRegistro {
    line-height: 12px;
    display: table-cell;
}

.tablaGrilla {
    line-height: 12px;
    display: table-cell;
}

.tablaRegistroTitulo {
    line-height: 18px;
}


.tdFiltro {
    font-weight: bold;
    font-size: 12px;
}

.txtFiltro {
    font-family: Tahoma;
    font-size: 9px;
    padding: 3px;
    border: 1px solid rgb(32, 63, 74);
    height: 19px;
}




.txtCenter {
    text-align: center;
}


.counter {
    color: Red;
    font-size: 11px;
}

.counterAlert {
    border: 1px Solid Red;
}



.modalBackground {
    background-color: #1C1C1C;
    filter: alpha(opacity=70);
    opacity: 0.7;
    /*position: fixed;
          z-index: 98;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
            background-color: #aaa; 
            filter: alpha(opacity=80); 
            opacity: 0.8;*/
}

.rigth {
    float: right;
}

.left {
    float: left;
}

.center {
    margin:auto;
}

.botonMonitor {
    background-color: #19a1e0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 12px !important;
    text-decoration: none;
    text-shadow: none;
    line-height: 16px;
    border-color: #FFFFFF !important;
}

    .botonMonitor:hover {
        background-color: #0061a7;
        border-color: #FFFFFF !important;
    }

    .botonMonitor:active {
        position: relative;
        top: 1px;
    }

.botonMonitor-morado {
    background-color: #5c6bc0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 12px !important;
    text-decoration: none;
    text-shadow: none;
    line-height: 16px;
    border-color: #FFFFFF !important;
}

    .botonMonitor-morado:hover {
        background-color: #7989e0;
        border-color: #FFFFFF !important;
    }

    .botonMonitor-morado:active {
        position: relative;
        top: 1px;
    }

input[type=submit], input[type=reset] {
    color: #fff;
    background-color: #19a1e0;
    border-color: #FFFFFF;
    border-radius: 5px;
    text-shadow: none;
    border-style: solid;
    padding: 6px 12px;
}

    input[type=submit]:hover, input[type=submit]:visited, input[type=submit]:active, input[type=reset]:hover, input[type=reset]:active, input[type=reset]:visited {
        background-color: #47B4E6;
        border-color: #FFFFFF;
    }

    input[type=submit]:disabled {
        cursor: not-allowed;
        background-color: rgb(235, 235, 228);
        color: #545454 ;
        border: solid 1px #ffffff;
    }

select:disabled, textarea:disabled {
    cursor: not-allowed !important;
    background-color: #eee !important;
    color: #545454 !important;
    opacity: 1;
}

input[disabled] {
    /* Your CSS Styles */
    cursor: not-allowed !important;
    background-color: #eee !important;
    color: #545454 !important;
    opacity: 1;
}

input[disabled='disabled'] {
    /* Your CSS Styles */
    cursor: not-allowed !important;
    background-color: #eee !important;
    color: #545454 !important;
    opacity: 1;
}

.bs-group {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.container-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-tooltip:hover .tooltip-app {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.div-tooltip {
    position: relative;
}

.tooltips {
    position: relative;
    display: inline-block;
    font-weight: 300;
}

    .tooltips > span, a.tooltips > span {
        visibility: hidden;
        /*width: 120px;*/
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0;
        transition: opacity 1s;
        min-width: 140px;
        font-size: 1.2em;
        text-shadow: none !important;
    }

        .tooltips > span::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltips:hover > span {
        visibility: visible;
        opacity: 1;
    }

legend {
    font-size: 15px !important;
}

.fieldGrupo fieldset {
    border: 1px solid silver !important;
    display: block !important;
    margin-inline-start: 2px !important;
    margin-inline-end: 2px !important;
    padding-block-start: 0.35em !important;
    padding-inline-start: 0.75em !important;
    padding-inline-end: 0.75em !important;
    padding-block-end: 0.625em !important;
    min-inline-size: min-content !important;
    /* min-width: 0; */
    /* padding: 0; */
    /* margin: 0; */
    /* border: 0; */
}

    .fieldGrupo fieldset legend {
        margin-bottom: 11px !important;
    }

@media print {
    #imgbtnImprimir, #imgbtnExportar, #imgbtnExportarMobile {
        display: none;
    }
}


.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /*border-top: 3px solid #d2d6de;*/
    margin-bottom: 20px;
    /*width: 100%;*/
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 1px 7px 20px 7px;
    padding: 10px;
}

.btnTabDesactivado {
    color: #3a6a9b;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.btnTabActivado {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-bottom: 1px solid #fff;
}