﻿
/* ---------------------------------------------------
    PERSONALIZADO DEL MENU
----------------------------------------------------- */

.logo-lg {
    max-width:120px;
}
.textMenu {
    font-size: 13.5px !important;
    font-family: 'Segoe UI','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    line-height: 1.5 !important;
}

.subTextMenu {
    font-size: 13px !important;
    font-family: 'Segoe UI','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    line-height: 1.5 !important;
}

.btn-menu {
    background-color: #0088CC;
    color: #fff;
}

    .btn-menu:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .btn-menu.focus, .btn-menu:focus, .btn-menu:hover {
        color: #fff;
        text-decoration: none;
    }


    iframe {
        /*padding: 2px;*/
        height: calc(100vh - 50px);
        margin: 0px !important;
        padding: 0px !important;
        border: 0px !important;
        position: relative;
        /*bottom: -3px;*/
    }

   @media (max-width: 768px) {
    .collapseTitle {
        display: none;
    }
}
