

#wrap {
  margin: 0 auto 30px;
}

#regbar {
    height: 33px;
    /*width: 980px;*/
    margin: auto;
    /*margin-left: 1%;
    margin-right: 1%;*/
    background: #142C63 url("../img/master/sigep-head.png") no-repeat scroll left top;
}

#navthing {
  margin-right: 20px;
 
  text-align:right;
}

h2 {
  padding: 10px;
  color: #ecf0f1;
  
}

fieldset {
  border: none;
  padding: 12px;
}

.login {
  position: relative;
  width: 350px;
  display: none;
  padding-left: 40%;
}

@media (max-width:700px) {
    .login {
        padding-left: 10%;
    }
}

@media (min-width:0px) and (max-width:400px) {
    .login {
        padding-left: 0%;
    }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 140%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
/*.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}*/
word:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
/*.formholder input[type="submit"] {
  background: #4167A8;
  padding: 10px;
  font-size: 20px;
  display: block;
 00%;
  border: none;
  color: #fff;
  border-radius: 5px;
}*/
/*.formholder input[type="submit"]:hover {
  background: #4167A8  ;
}*/

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  /*color: kground: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  /*color: #ecf0f1;*/
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}