﻿<%@ Page Title="Metas Monitoreo" Language="C#" MasterPageFile="~/MasterPages/Sistema.Master" AutoEventWireup="true" CodeBehind="Metas.aspx.cs" Inherits="Web.Monitor.Metas" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <iframe id="ifrm" runat="server"></iframe>
</asp:Content>

