﻿<%@ Page Title="Reporte Alta Dirección" Language="C#" MasterPageFile="~/MasterPages/Sistema.Master" AutoEventWireup="true" CodeBehind="ReporteGA.aspx.cs" Inherits="Web.reportes.ReporteGA" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
     <style>
        #main { margin-top: 15px; }
     </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
      <iframe id="ifrm" runat="server"></iframe>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceFooter" runat="server">
</asp:Content>
