﻿<%@ Page Title="Reporte Tipos" Language="C#" MasterPageFile="~/MasterPages/Sistema.Master" AutoEventWireup="true" CodeBehind="Reporte_SBN.aspx.cs" Inherits="Web.reportes.Reporte_SBN" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
     <style>
        #main { margin-top: 15px; }
     </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <iframe id="ifrm" runat="server"></iframe>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceFooter" runat="server">
     <script>
        $(function () {
            //$("#ContentPlaceHolder1_ifrm").height(($(window).height()-130));
        });
    </script>
</asp:Content>